.product-container{
  padding: 0.25rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.product-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:100%;
  /* margin-bottom: 20px; */
  align-items: center;
}

.product-list {
  list-style: none;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}
.product-image{
  object-fit: cover;
  width: 100%;
  background-color:#f3f4f6;
  border-top-left-radius: 0.5rem ;
    border-top-right-radius: 0.5rem;
    height: 24rem

}

.product-item {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

.product-list-container h1 {
  flex: 1;
}

.product-list-container a {
  flex: 1;
  text-align: center;
}

.product-list-container input {
  flex: 1;
  text-align: center;
  border:none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.product-list-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
  width:90%
}
.product-list-header-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width:50%
}

.product-details{
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.product-name{
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  color:  #111827;
}
.product-price{
  margin-bottom: 0.75rem;
  font-weight: 400;
  color: #374151;
}
.product-description{
  margin-bottom: 0.75rem;
  font-weight: 600;
  color: #374151;
}
.product-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
    padding-bottom: 0.5rem
}
.view-details{
  outline: 2px solid transparent;
    outline-offset: 2px;
    background-color: aquamarine;
    font-weight: 500;
    text-decoration: none;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 1.25rem 0.625rem;
    margin-inline-end: 0.5rem ;
    margin-bottom: 0.5rem
}
.edit{
  outline: 2px solid transparent;
    outline-offset: 2px;
    background-color: rgb(211, 68, 68);
    text-decoration: none;
    font-weight: 500;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 1.25rem 0.625rem;
    margin-inline-end: 0.5rem ;
    margin-bottom: 0.5rem
}
@media (max-width: 600px) {
  .product-item {
    width: 100%;
  }
  .product-list-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .product-list-container h1 {
    margin-bottom: 10px;
  }

  .product-list-container a {
    margin-top: 10px;
    text-align: left;
  }

  .product-list-container input {
    margin-top: 10px;
  }
}
